
@{
    ViewData["Title"] = "GlobalError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GlobalError</h2>

<div class="alert alert-danger">
    <h5> Path:</h5> <hr />
    <p>@ViewBag.RouteOfException</p>

</div>
<div class="alert alert-danger">
    <h5> Message:</h5> <hr />
    <p>@ViewBag.ErrorMessage</p>

</div>
